{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static './login_and_register/style.css' %}">
    
</head>
<body>
    <div class="container">
        <form action="{% url 'login' %}" method="POST">
            <h3 style="text-align:center;">STUDENT RECORD MANAGEMENT SYSTEM</h3>
            
            {% csrf_token %}

            {% if messages %}
                <div style="margin-top:-1em;text-align:center;">
                
                        {% for message in messages %}
                        <p style="font-size:14px;color:#e32;font-weight:600">{{ message }}</p>
                        {% endfor %}
                
                </div>
            {% endif %}
            <div class="field">
                <input type="text" name='username' placeholder="Matric_no" required minlength="4" maxlength="50">
            </div>
            <div class="field">
                <input type="text" name='username' placeholder="Fullname" required minlength="4" maxlength="50">
            </div>
            <div class="field">
                <input type="text" name='username' placeholder="Phone No." required minlength="4" maxlength="50">
            </div>
            <div class="field">
                <input type="text" name='username' placeholder="Level" required minlength="4" maxlength="50">
            </div>
            <div class="field">
                <input type="text" name='username' placeholder="" required minlength="4" maxlength="50">
            </div>
            <div class="field">
                <input type="password" name='password' placeholder="Password" id="loginPassword" required minlength="4">
                
            </div>

            <div class="field">
                <button type="submit">Register</button>
                
            </div>
            <div class="field">
                
            </div>
        </form>


    </div>

    
</body>
</html>